- title t('.title')
- secondary_nav do
  = link_to t('.your_items_link'), user_closet_hangers_path(current_user), :class => 'button'

= form_for @neopets_user, :html => {:id => 'neopets-user-form'} do |f|
  %p= t '.explanation'

  = f.label :username, t('.username_label')
  = f.text_field :username
  = f.submit t('.submit')

