- title t('.title', :name => @neopets_page.name, :index => @neopets_page.index)
- content_for :before_flashes do
  = link_to t('.your_items_link'), user_closet_hangers_path(current_user), :id => 'back-to-items'

= form_for @neopets_page, :html => {:id => 'closet-page-form'} do |f|
  = f.hidden_field :index
  #closet-page-frame-wrapper
    %span
      %strong
        = t '.frame_header', :name => @neopets_page.name,
            :index => @neopets_page.index
    %iframe#closet-page-frame{:src => @neopets_page.url}
  #closet-page-source
    = f.label :source, t('.source_header')
    = f.text_area :source
  = f.select :list_id, neopets_page_list_options(current_user)
  = f.submit t('.submit')

- localized_cache :action_suffix => 'explanation' do
  %p
    = t '.help.welcome', :name => @neopets_page.name
    = t '.help.intro', :name => @neopets_page.name
  
  %ol
    %li
      = twl '.help.check_frame.header', :page_link_url => @neopets_page.url,
            :name => @neopets_page.name, :index => @neopets_page.index
      %ul
        %li
          %strong= t '.help.check_frame.check_login.summary'
          = t '.help.check_frame.check_login.details'
        %li
          %strong
            = twl '.help.check_frame.login.summary',
                  :login_link_url => neopets_login_url
          = twl '.help.check_frame.login.details',
                :login_link_url => neopets_login_url
        %li
          %strong
            = t '.help.check_frame.check_content.summary',
                :name => @neopets_page.name
          = t '.help.check_frame.check_content.details'
    
    %li
      = t '.help.view_source.header'
      %ul
        %li
          = t '.help.view_source.chrome_html'
        %li
          = t '.help.view_source.firefox_html'
        %li
          = t '.help.view_source.other'
        %li
          = twl '.help.view_source.troubleshooting',
              :page_link_url => @neopets_page.url
    
    %li
      = t '.help.copy_source.header'
      %ul
        %li
          = t '.help.copy_source.shortcuts'
    
    %li
      = t '.help.submit.header'
      %ul
        %li
          = t '.help.submit.description', :name => @neopets_page.name
