= outfit_li_for(outfit) do
  - if outfit.image?
    = link_to image_tag(outfit.image.small.url), outfit
  
  %header
    .outfit-star
    = link_to outfit.name, outfit, :class => 'outfit-name'
  
  %footer
    = link_to t('.edit'), outfit, :class => 'outfit-edit-link'
    = button_to t('.delete'), outfit, :method => 'delete',
                :class => 'outfit-delete-button',
                :confirm => t('.delete_confirmation',
                              :outfit_name => outfit.name)
