- title t('.title')

- unless @outfits.empty?
  %p= t '.intro.saving'
  %p= t '.intro.linking'
  %ul#outfits= render @outfits
- else
  %p= twl '.no_outfits', :start_link_url => root_path

- content_for :javascripts do
  = include_javascript_libraries :jquery
  = javascript_include_tag 'outfits/index'

