- title(@outfit.name || t('.default_outfit_name'))
- content_for :before_title, campaign_progress(@campaign)

- open_graph :type => 'openneo-impress:outfit', :title => yield(:title),
  :url => outfit_url(@outfit)
- if @outfit.image?
  - open_graph :image => absolute_url(@outfit.image.url)

= link_to_edit_outfit(@outfit, :class => 'button', :id => 'outfit-wardrobe-link') do
  - if user_signed_in? && @outfit.user == current_user
    = t '.edit'
  - else
    = t '.clone'
  
- if @outfit.user_id
  #outfit-user
    = outfit_creation_summary(@outfit)

- if @outfit.color.prank?
  = prank_color_message(@outfit.color.unfunny_human_name,
    @outfit.pet_state.artist_name, @outfit.pet_state.artist_url)

#preview-wrapper
  #preview-swf
    %img{src: @outfit.image.url}
#outfit-items= render @outfit.worn_items
- content_for :javascripts do
  :javascript
    var INITIAL_OUTFIT_DATA = #{safely_to_json @outfit};
  = include_javascript_libraries :jquery, :swfobject
  = javascript_include_tag 'wardrobe', 'outfits/show'