.closet-list
  %header
    - if show_controls
      .closet-list-controls
        = link_to 'Edit', edit_user_closet_list_path(closet_list.user, closet_list)
        = form_tag user_closet_list_path(closet_list.user, closet_list), :method => 'delete' do
          = submit_tag 'Delete', :confirm => closet_list_delete_confirmation(closet_list)
    %h4= closet_list.name

  - if closet_list.description?
    = closet_list_description_format closet_list
  - unless closet_list.hangers.empty?
    = render_sorted_hangers(closet_list, show_controls)
  - else
    %span.empty-list This list is empty.

