- secondary_nav do
  = link_to t('.your_items_link'), user_closet_hangers_path(current_user), :class => 'button'

= form_for [@closet_list.user, @closet_list] do |f|
  %ul.fields
    %li
      = f.label :name
      %span.hint= t '.name_hint'
      = f.text_field :name, :required => true
    %li
      = f.label :hangers_owned, t('.hangers_owned_label')
      = f.select :hangers_owned, hangers_owned_options
    %li
      = f.label :visibility, t('.visibility_label')
      = f.select :visibility, long_closet_visibility_choices(:list)
    %li
      = f.label :description
      %span.hint= t '.description_hint'
      = f.text_area :description
      %span.hint= t '.description_markup_hint_html'
  = f.submit t('.submit')

