- title t('.header')
= will_paginate @users
%table#top-contributors
  %thead
    %tr
      %th{:scope => 'column'}= t('.rank')
      %th{:scope => 'column'}= t('.user')
      %th{:scope => 'column'}= t('.points')
  %tbody
    - @users.each_with_index do |user, rank|
      %tr
        %th{:scope => 'row'}= @users.offset + rank + 1
        %td= link_to user.name, user_contributions_path(user)
        %td= user.points
= will_paginate @users
