- title t('.title')

%p= t '.explanation_html', :contact_link => mail_to(contact_email)

%p= t '.call_to_action'

%ul#report-assets
  - @swf_assets.each do |swf_asset|
    %li
      = link_to image_tag(swf_asset.image_url([150, 150])), swf_asset.url
      - unless swf_asset.image_pending_repair?
        = form_tag(:action => :create) do
          = hidden_field_tag 'swf_asset_remote_id', swf_asset.remote_id
          = hidden_field_tag 'swf_asset_type', swf_asset.type
          = submit_tag t('.submit')

        - if swf_asset.converted_at?
          %span.converted-at= format_converted_at(swf_asset.converted_at)
      - else
        %span.reported-broken-at= format_reported_at(swf_asset.reported_broken_at)

