- title "Support Dress to Impress"
%h2 Thank you so much for all your help. We made it!

= campaign_progress do
  We've received
  = surround '$', ',' do
    %span.campaign-raised
  exceeding our goal for the upgrade. Thanks so much!

%section#image-mode-data
  %figure#image-mode-preview
    = image_tag 'image_mode_preview.png'
    %figcaption
      Image Mode &hearts;
  #campaign-donors
    %h3 Thank you!
    %ol

#image-mode-description
  :markdown
    **Hooray!** We made our fundraising goal, and now have enough funds to run
    on the upgraded server for the next year. We completed our server upgrade
    around 9PM NST on August 4.

    **Image Mode is now out of beta, and is open to the public.** Just head to
    the home page and start dressing up a pet like normal, then hit the
    **Image** button in the top left corner. Congrats! You're in!

    Thanks again for all your help. Dress to Impress runs on you, from our data
    to our funds. You make this site the great resource that it is, and I'm
    consistently impressed by this community's generosity. Thanks for all you
    do!

#image-mode-beta
  %header
    Support Dress to Impress!
  = pledgie_form_tag do
    = pledgie_amount_label_tag 'Amount'
    = pledgie_amount_field_tag
    %button{:type => 'submit'} Donate now!

  %p
    A
    = link_to 'Linode 768 VPS', 'http://www.linode.com/'
    costs about $360 a year.

  %p
    All donations go directly to hosting costs. Thanks so much for your help!


#image-mode-comments
  #disqus_thread
  - if Rails.env.development?
    :javascript
      var disqus_developer = 1;
  :javascript
    var disqus_shortname = 'dresstoimpress';

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = 'dresstoimpress_donate';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  %a.dsq-brlink{:href => "http://disqus.com"}
    blog comments powered by
    %span.logo-disqus Disqus

