- title "Support Dress to Impress"

= campaign_progress(@campaign) do
  We've received #{number_to_currency(@campaign.progress / 100.0)}
  toward our hosting costs this year.
  - if @campaign.progress > 0
    Thanks so much!

= form_tag donations_path, method: 'POST', id: 'donation-form',
    'data-checkout-image' => image_path('default_preview.png'),
    'data-checkout-publishable-key' => Rails.configuration.stripe[:publishable_key] do
  = hidden_field_tag 'donation[stripe_token]'
  = hidden_field_tag 'donation[donor_email]'
  %header
    %p#donation-form-title
      Thanks for supporting Dress to Impress!
    %p#donation-form-subtitle
      Securely powered by #{link_to 'Stripe', 'https://stripe.com/'}.
      We never, ever see your payment info.
      %br
      All donations go directly to our hosting costs. Thanks for your help!
  %div
    = precede '$' do
      = text_field_tag 'donation[amount]', '10.00'
    %button{:type => 'submit'} Donate now!

#description
  :markdown
    **Dress to Impress is cool!** We have loads of fancy features: y'all are
    constantly adding models to our database, making NC trades, and saving your
    outfits and sharing them across the interwebs.
    It's pretty sweet, and we're super proud to have a community of users
    consistently putting our resources to good use.

    **But cool features cost us money—about $800 a year.** We're running on a
    [4GB Linode server][linode] for $40/mo, and y'all's fancy outfit thumbnails
    live on [Amazon Web Services][aws] for about $25/mo (it varies by usage),
    so that leaves us at about $65/mo. Add in $10 for the domain name and $10
    room to grow (our Amazon usage, and therefore costs, are on the rise), and
    that comes to an annual budget of $800.

    **So, we're here to ask for help.** If you have some spare change to send
    our way, we'll gladly accept
    <img src="http://images.neopets.com/neoboards/smilies/grin.gif" />
    Thanks for helping Dress to Impress stay online and running smoothly!

    **And, to show our undying gratitude, we'll feature your outfits right
    here!** Eeyup, for every $5 you send our way, we'll post one of your
    beautiful outfits right here on the donors list, and feature it on the
    homepage, too! Personally, I'm looking forward to seeing all your lovely
    creations, and wishing I could make things even [half as pretty][matts_bat]
    <img src="http://images.neopets.com/neoboards/smilies/tongue.gif" />
    (See the fine print at the bottom of the page for details.)

    **Thanks again for all your help.** Dress to Impress runs on you, from our
    data to our servers. You make this site the great resource that it is, and
    I'm consistently impressed by this community's generosity. Thanks for 
    all you do!

    [linode]: https://www.linode.com/pricing
    [aws]: http://aws.amazon.com/
    [matts_bat]: http://www.neopets.com/petlookup.phtml?pet=matts_bat

%h2 Thanks to our lovely donors!

%ul#outfits
  - @donations.each do |donation|
    - donation.features.each do |feature|
      %li
        - if feature.outfit_id? && feature.outfit.image?
          = link_to image_tag(feature.outfit.image.small.url), feature.outfit
        - else
          = image_tag 'default_preview.png'

        %header Thanks, #{donation.donor_name.presence || 'Anonymous'}!

#fine-print
  %h2 Some notes on featured outfits
  :markdown
    When you make a donation, we'll divide the amount by $5, and, rounding
    down, that's how many of your outifts we'll feature. Cool, eh?

    This is our way of publicly thanking our donors.
    (Thanks again, by the way!)
    We love them very much and want to bring attention to their awesomeness.
    However, there are a few important bits of legal whatnot to keep in mind.
    (Mostly, it's the list of things that we expect to do but in no legally
    binding way promise to do. Just in case
    <img src="http://images.neopets.com/neoboards/smilies/tongue.gif" />)

    Featuring your outfit is a thank-you gift that we like to give our donors;
    it is *not* a purchased service. We make no guarantee that we'll post your
    outfit on any page for any particular amount of time, or even at all.
    (That said, we expect to publicly list our donors' outfits somewhere on the
    site for as long as the site lives, and in rotation on the homepage until
    some other site event or feature needs the space.)

    We reserve the right to refuse to post any outfit for any reason, and we
    reserve the right to remove any previously posted outfit for any reason.
    Same goes for the name attached to your donation.
    (That said, we intend to allow most any name and outfit that are
    appropriate for Neopians of all ages.)

    If you change your mind about donating, no worries: we'll refund any
    good-faith donation within 60 days of the day you donated.
    (For example, changing your mind and requesting a refund *is* acting in
    good faith, and we'd love to help you out.
    Posting an obscene outfit then requesting a refund once we take it down is
    *not* acting in good faith, and we don't want our refund policy to
    encourage that behavior
    <img src="http://images.neopets.com/neoboards/smilies/tongue.gif" />
    We determine "good faith" at our sole discretion—not limited to those
    examples—but we're generally pretty understanding.)

    **TL;DR: We love to help and acknowledge our good-faith donors,
    but reserve the right not to do those things,
    in order to better handle bad-faith donors and unexpected circumstances.**
    Huh. That was way simpler.
    Maybe I should've just written that in the first place.

- content_for :javascripts do
  = javascript_include_tag 'https://checkout.stripe.com/checkout.js',
      'static/donate.js'
