- if @items
  - title t('.title_with_query', :query => @query.to_s)
  - if @items.empty?
    %p= t '.no_results_html', :query_html => content_tag(:strong, @query.to_s)
    %p= twl '.modeling_request', :modeling_link_url => root_path
  - else
    = will_paginate @items
    = render @items
    = will_paginate @items
- else
  #search-info
    - localized_cache :action_suffix => 'search_help' do
      #search-help
        %h2= t '.search_help_header'
        %dl
          %dt= t '.examples.basic.query'
          %dd= t '.examples.basic.description'
          %dt= t '.examples.user_items.query'
          %dd
            = twl '.examples.user_items.description',
              :user_items_link_url => your_items_path
          %dt= t '.examples.nc.query'
          %dd= t '.examples.nc.description'
          %dt= t '.examples.pb.query'
          %dd= t '.examples.pb.description'
          %dt= t '.examples.species.query'
          %dd= t '.examples.species.description'
          %dt= t '.examples.type.query'
          %dd= t '.examples.type.description'

    #search-new-items
      %h2= t '.newest_items.header'
      = render @newest_items

  - localized_cache :action_suffix => 'species_search_links' do
    #species-search-links
      %h2= t '.species_search.header'
      = standard_species_search_links

