- if @results
  - if @results.empty?
    :markdown
      We couldn't find any wearables that matched **#{@query}**. Sorry!
      
      Are we missing something? To add an item to our database, just
      [show us a pet who is wearing it][1]. That's it!
      
      [1]: http://impress.openneo.net/
  - else
    = will_paginate @results
    = render @results
    = will_paginate @results
- else
  #search-help
    %h2 Find what you're looking for
    %dl
      %dt negg
      %dd returns any item with the word "negg" in it
      %dt floating doll
      %dd returns any item with the words "floating" and "doll" in it
      %dt "easter negg"
      %dd returns any item with the phrase "easter negg" in it
      %dt "altador cup" -background
      %dd
        returns any item with the phrase "altador cup" in it, but not the word
        "background"
      %dt species:shoyru
      %dd returns any item a Shoyru can wear
      %dt only:shoyru
      %dd returns any item only a Shoyru can wear
      
  #species-search-links
    %h2 Can't decide? Search by species
    = standard_species_search_links
