- title "Needed items for #{@pet_type.human_name}"
%h2
  = image_tag "http://pets.neopets.com/cpn/#{@pet_name}/1/1.png",
    :class => 'inline-image'
  %span.pet-name= @pet_name
  can model&hellip;
%ul.buttons
  %li
    = form_tag load_pet_path do
      = origin_tag 'needed_items'
      = hidden_field_tag 'name', @pet_name
      = submit_tag "I'm wearing one now!", :class => 'loud'
  %li
    = link_to 'What do I own?', 'http://www.neopets.com/closet.phtml',
      :class => 'button', :target => '_blank'
= render @items
