- title @item.name
- canonical_path @item

- cache "items/#{@item.id} header" do
  %header#item-header
    = image_tag @item.thumbnail_url, :id => 'item-thumbnail'
    %div
      %h2#item-name= @item.name
      = nc_icon_for(@item)
      - unless @item.rarity.blank?
        == Rarity: #{@item.rarity_index} (#{@item.rarity})
      = link_to 'JN Items', jn_items_url_for(@item)
      - unless @item.nc?
        = link_to 'Shop Wizard', shop_wizard_url_for(@item)
        = link_to 'Super Wizard', super_shop_wizard_url_for(@item)
        = link_to 'Trades', trading_post_url_for(@item)
        = link_to 'Auctions', auction_genie_url_for(@item)

- if user_signed_in?
  #closet-hangers
    %h3
      Track this in
      = link_to 'Your Items', user_closet_hangers_path(current_user)
    = form_tag update_quantities_user_item_closet_hangers_path(:user_id => current_user, :item_id => @item), :method => :put do
      #closet-hangers-ownership-groups
        - @current_user_lists.each do |owned, lists|
          %div
            %h4 Items you #{closet_list_verb(owned)}
            %ul
              - lists.each do |list|
                %li
                  = number_field_tag "quantity[#{list.id}]",
                    @current_user_quantities[list.id], :min => 0
                  = label_tag "quantity[#{list.id}]", list.name
              
              %li
                = number_field_tag "quantity[#{owned}]",
                  @current_user_quantities[owned], :min => 0
                    
                - unless lists.empty?
                  = label_tag "quantity[#{owned}]", :class => 'unlisted' do
                    Not in a list
                - else
                  = label_tag "quantity[#{owned}]" do
                    How many?
      = submit_tag 'Save to Your Items'

- cache "items/#{@item.id} info" do
  %p= @item.description

  #item-zones
    %p
      %strong Occupies:
      = list_zones @item.occupied_zones, :uncertain_label
    %p
      %strong Restricts:
      - if @item.restricted_zones.empty?
        None
      - else
        = list_zones @item.restricted_zones

#trade-hangers
  - [true, false].each do |owned|
    %p
      - unless @trading_closet_hangers_by_owned[owned].empty?
        %strong
          = pluralize @trading_closet_hangers_by_owned[owned].size, 'user'
          - if owned
            - if @trading_closet_hangers_by_owned[owned].size == 1
              has
            - else
              have
            this item up for trade:
          - else
            - if @trading_closet_hangers_by_owned[owned].size == 1
              wants
            - else
              want
            this item:
        = render_trading_closet_hangers(owned)
      - else
        %strong
          We don't know anyone who
          - if owned
            has this item up for trade.
          - else
            wants this item.
      %span.toggle
        %span.more more
        %span.less less

- cache 'items#show preview_header' do
  #item-preview-header
    %h3 Preview
    %a#customize-more.button{:href => '/'} Customize more

#item-preview
  #item-preview-species= standard_species_images_for(@item)
  #item-preview-error
  #item-preview-swf
    Javascript and Flash are required to preview wearables. Sorry!

- cache "items/#{@item.id} contributors" do
  - unless @contributors_with_counts.empty?
    #item-contributors
      %header Brought to you by:
      %ul
        - @contributors_with_counts.each do |contributor, count|
          %li= link_to(contributor.name, user_contributions_path(contributor)) + format_contribution_count(count)
      %footer Thanks!

:javascript
  var CURRENT_ITEM_ZONES_RESTRICT = #{@item.zones_restrict.inspect},
    IMPRESS_HOST = #{RemoteImpressHost.inspect};

= include_javascript_libraries :jquery, :swfobject
= javascript_include_tag 'items/show'

