%header
  = image_tag @item.thumbnail_url, :id => 'item-thumbnail'
  %div
    %h2#item-name= @item.name
    = nc_icon_for(@item)
    - unless @item.rarity.empty?
      == Rarity: #{@item.rarity_index} (#{@item.rarity})
    %a.button{:href => neoitems_url_for(@item)} NeoItems

%p= @item.description

#item-zones
  %p
    %strong Occupies:
    = list_zones @item.occupied_zones, :uncertain_label
  %p
    %strong Restricts:
    - if @item.restricted_zones.empty?
      None
    - else
      = list_zones @item.restricted_zones

#item-preview-header
  %h3 Preview
  %a#customize-more.button{:href => 'http://impress.openneo.net/'} Customize more

#item-preview
  #item-preview-species= standard_species_images(@item.supported_species)
  #item-preview-error
  #item-preview-swf
    Javascript and Flash are required to preview wearables. Sorry!

:javascript
  var CURRENT_ITEM_ZONES_RESTRICT = #{@item.zones_restrict.inspect},
    IMPRESS_HOST = #{RemoteImpressHost.inspect};

- content_for :javascripts do
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js',
    'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js',
    'items/show'
