- if user_is?(@user)
  - title 'Your Items'
  - content_for :before_flashes do
    = link_to "Import closet from Neopets", new_closet_page_path, :id => 'import-link'
- else
  - title "#{@user.name}'s Items"
#closet-hangers{:class => user_is?(@user) ? 'current-user' : nil}
  - if !@closet_hangers.empty?
    = render @closet_hangers
  - else
    - if user_is?(@user)
      %p You haven't tracked any items on Dress to Impress.
      %p
        Here you can keep track of what items you already own, so that as you
        design fancy outfits you can know what you have and what you still
        need. And, who knows? Maybe some day this page will include wishlists
        and up-for-trade items. We'll see what happens.
      %p
        It's easy to get started!
        = link_to "Just import your Neopets closet in a few quick steps.", new_closet_page_path
        Have fun!
    - else
      %p #{@user.name} hasn't tracked any items on Dress to Impress.

