- unless public_perspective?
  - title 'Your Items'
  - content_for :before_flashes do
    = link_to "Import closet from Neopets", new_closet_page_path, :id => 'import-link'
    = form_tag items_path, :method => :get, :id => 'closet-hangers-items-search', 'data-current-user-id' => current_user.id do
      = search_field_tag :q, nil, :placeholder => "Find items to add"
      = submit_tag 'Search', :name => nil
- else
  - title "#{@user.name}'s Items"

#closet-hangers{:class => public_perspective? ? nil : 'current-user'}
  - if !@closet_hangers.empty?
    - unless public_perspective?
      %p
        These are the items you own. Hover over an item to remove it from the
        list or to change the quantity.
    = render :partial => 'closet_hanger', :collection => @closet_hangers, :locals => {:show_controls => user_is?(@user)}
  - else
    - unless public_perspective?
      %p You haven't tracked any items on Dress to Impress.
      %p
        Here you can keep track of what items you already own, so that as you
        design fancy outfits you can know what you have and what you still
        need. And, who knows? Maybe some day this page will include wishlists
        and up-for-trade items. We'll see what happens.
      %p
        It's easy to get started!
        = link_to "Just import your Neopets closet in a few quick steps.", new_closet_page_path
        Have fun!
    - else
      %p #{@user.name} hasn't tracked any items on Dress to Impress.

- content_for :stylesheets do
  = stylesheet_link_tag 'south-street/jquery-ui'

- content_for :javascripts do
  = include_javascript_libraries :jquery
  = javascript_include_tag 'jquery.ui', 'jquery.jgrowl', 'placeholder', 'closet_hangers/index'

