- unless public_perspective?
  - title 'Your Items'
  - add_body_class 'current-user'
  - content_for :before_flashes do
    = link_to "Import closet from Neopets", new_closet_page_path, :id => 'import-link'
    = form_tag items_path, :method => :get, :id => 'closet-hangers-items-search', 'data-current-user-id' => current_user.id do
      = search_field_tag :q, nil, :placeholder => "Find items to add"
      = submit_tag 'Search', :name => nil
- else
  - title "#{@user.name}'s Items"

- content_for :before_flashes do
  #closet-hangers-contact
    - if public_perspective?
      - if @user.neopets_username?
        = link_to "Neomail #{@user.neopets_username}", send_neomail_url(@user)
    - else
      %span#edit-contact-link{:class => @user.neopets_username? ? 'has-value' : nil}
        %span#contact-link-no-value
          Add your Neopets username
        %span#contact-link-has-value
          Edit
          = surround '"' do
            Neomail
            %span= @user.neopets_username
      = form_for @user do |f|
        = f.label :neopets_username
        = f.text_field :neopets_username
        = f.submit "Save"
        %span#cancel-contact-link cancel

- unless @closet_hangers_by_owned.empty?
  %p
    These are the items you are tracking on Dress to Impress. Hover over an
    item to remove it from the list or to change the quantity.

  %p
    You can share
    = link_to "this page", request.fullpath
    with the world, and they'll be able to see what items you own.

#closet-hangers{:class => public_perspective? ? nil : 'current-user'}
  - [true, false].each do |owned|
    .closet-hangers-group{'data-owned' => owned.to_s}
      %h3 Items #{closet_hanger_subject} #{closet_hanger_verb(owned)}
      .closet-hangers-group-content
        - if public_perspective?
          - unless @closet_hangers_by_owned[owned]
            %p #{@user.name} hasn't tracked any items on Dress to Impress.
        - else
          - unless @closet_hangers_by_owned[owned]
            %p
              You haven't tracked any #{closet_hanger_verb(owned)} items on Dress
              to Impress. It's worth doing, since you can share this list with your
              friends and keep track of what items you still need as you create new
              outfits.
            %p
              It's easy to get started!
              = link_to "Just import your Neopets closet in a few quick steps.", new_closet_page_path
              You can also add an item from its
              = link_to 'Infinite Closet', items_path
              page. Have fun!
        = render_closet_hangers(owned)

- content_for :stylesheets do
  = stylesheet_link_tag 'south-street/jquery-ui'

- content_for :javascripts do
  = include_javascript_libraries :jquery
  = javascript_include_tag 'jquery.ui', 'jquery.jgrowl', 'placeholder', 'closet_hangers/index'

