!!! 5
%html
  %head
    %title
      - if content_for? :title
        = yield :title
        |
      Dress to Impress
    /[if IE]
      = include_javascript_libraries :html5
    = stylesheet_link_tag "compiled/screen"
    = yield :meta
    = csrf_meta_tag
    = signed_in_meta_tag
  %body{:class => body_class}
    = javascript_include_tag "analytics"
    #container
      - if content_for?(:title) && show_title_header?
        %h1#title= yield :title
      = render 'static/announcement.html'
      = yield :before_flashes
      = flashes

      - if content_for? :content
        = yield(:content)
      - else
        = yield

      - if home_link?
        %a#home-link{:href => root_path}
          %span Dress to Impress

      #userbar
        - if user_signed_in?
          %span
            == Hey, #{link_to current_user.name, user_contributions_path(current_user)}!
            == You have #{current_user.points} points.
          = link_to 'Outfits', current_user_outfits_path
          = link_to 'Settings', Openneo::Auth.remote_settings_url
          = link_to 'Log out', logout_path_with_return_to
        - else
          = link_to login_path_with_return_to, :id => 'userbar-log-in' do
            = image_tag auth_server_icon_url
            %span Log in

      #footer
        %ul
          %li
            %a{:href => "http://openneo.net/", :target => "_blank"} OpenNeo
          %li
            %a{:href => "http://blog.openneo.net/", :target => "_blank"} Blog
          %li
            %a{:href => "http://forum.openneo.net/", :target => "_blank"} Forum
          %li
            %a{:href => "http://github.com/matchu/openneo-impress-rails"} Source Code
          %li
            %a{:href => terms_path} Terms of Use
        %div
          Contact:
          %ul
            %li
              %a{:href => "http://openneo.uservoice.com/forums/40720-dress-to-impress"} Suggestions
            %li
              %a{:href => "mailto:webmaster@openneo.net"} Questions, comments, bugs
        %p
          Images &copy; 2000-2010 Neopets, Inc. All Rights Reserved.
          Used With Permission
      = yield(:javascripts)

