!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %title
      - if content_for? :title
        = yield :title
        |
      - if content_for? :title_category
        = yield :title_category
      - else
        #{t 'app_name'}: #{t '.title_tagline'}
    %link{href: image_path('favicon.png'), rel: 'icon'}
    /[if IE]
      = include_javascript_libraries :html5
    = yield :stylesheets
    = stylesheet_link_tag "application"
    = yield :meta
    = open_graph_tags
    = csrf_meta_tag
    = signed_in_meta_tag
    - if user_signed_in?
      = current_user_id_meta_tag
  %body{:class => body_class}
    #container
      = yield :before_title
      - if content_for?(:title) && show_title_header?
        %h1#title= yield :title
      = render 'static/announcement'
      = yield :before_flashes
      = flashes

      - if content_for? :content
        = yield(:content)
      - else
        = yield

      - if home_link?
        %a#home-link{:href => root_path}
          %span= t 'app_name'

      #userbar
        - if user_signed_in?
          %span
            = t '.userbar.greeting', :user_name => current_user.name
            = userbar_contributions_summary(current_user)
          = link_to t('.userbar.items'), user_closet_hangers_path(current_user), :id => 'userbar-items-link'
          = link_to t('.userbar.outfits'), current_user_outfits_path
          = link_to t('.userbar.settings'), edit_auth_user_registration_path
          = button_to t('.userbar.logout'), destroy_auth_user_session_path, method: :delete,
            params: {return_to: request.fullpath}
        - else
          = link_to auth_user_sign_in_path_with_return_to, :id => 'userbar-log-in' do
            %span= t('.userbar.login')

      #footer
        = form_tag choose_locale_path, :id => 'locale-form' do
          = hidden_field_tag 'return_to', request.fullpath
          = select_tag 'locale', options_for_select(locale_options, locale)
          %noscript= submit_tag 'Go'
          
        %ul
          %li= link_to t('organization_name'), 'https://openneo.net/'
          %li= link_to t('.footer.blog'), 'https://blog.openneo.net/'
          %li= link_to t('.footer.source_code'), 'https://github.com/openneo/impress'
          %li= link_to t('.footer.terms'), terms_path
        
        %div
          #{t('.footer.contact')}:
          %ul
            %li= link_to t('.footer.suggestions'), feedback_url
            %li= mail_to contact_email, t('.footer.email')
        
        %p= t '.footer.copyright', :year => Date.today.year
      
      = javascript_include_tag 'application'
      = yield(:javascripts)

