- content_for :before_title, advertise_campaign_progress(@campaign)
- content_for :title_category do
  #{t 'infinite_closet'}: #{t '.title_tagline'}
- content_for :before_flashes do
  %h1
    = link_to items_path do
      = image_tag 'https://images.neopets.com/items/mall_floatingneggfaerie.gif'
      %span= t 'infinite_closet'
- content_for :content do
  = form_tag items_path, :method => :get do
    = text_field_tag :q, @query.to_s
    = submit_tag t('.search'), :name => nil
  = yield
= render template: 'layouts/application'

