- content_for :before_flashes do
  %h1
    = link_to items_path do
      = image_tag 'http://images.neopets.com/items/mall_floatingneggfaerie.gif'
      %span Infinite Closet
- content_for :content do
  = form_tag items_path, :method => :get do
    = text_field_tag :q, @query
    = submit_tag 'Search', :name => nil
  = yield
= render :file => 'layouts/application'

